bcrypt==5.0.0
bidict==0.23.1
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.2.1
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.7.1
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
flatbuffers==25.9.23
future==1.0.0
geocoder==1.38.1
geographiclib==2.1
geopy==2.4.1
greenlet==3.2.4
grpcio==1.76.0
grpcio-tools==1.76.0
h11==0.16.0
h3==4.3.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
protobuf==6.33.1
pycparser==2.23
pygame==2.6.1
PyJWT==2.10.1
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-engineio==4.12.3
python-socketio==5.14.3
pytz==2025.2
pywin32==311
ratelim==0.1.6
requests==2.32.5
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.44
timezonefinder==8.1.0
tkintermapview==1.29
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wsproto==1.3.1
